#lable1:has(+ #input1:hover) {
    /* transform: scale(0.8); */
    font-size: 15px;
    transition-duration: 200ms;
  }
  #lable2:has(+ #input2:hover) {
    /* transform: scale(0.8); */
    font-size: 15px;
    transition-duration: 200ms;
  }
  #lable3:has(+ #input3:hover) {
    /* transform: scale(0.8); */
    font-size: 15px;
    transition-duration: 200ms;
  }
  .dot1 {
      animation: example 1.2s infinite;
      animation-delay: 3s;
  } .dot2 {
      animation: example 1.2s infinite;
      animation-delay: 2s;
  } .dot3 {
      animation: example 1.2s infinite;
      animation-delay: 1s;
  }
  @keyframes example {
    from {opacity: 1;}
    to {opacity: 0;}
  }